@import 'variables';

body {
    margin: 0;
    /*background-color:lightpink;*/
    width: 100%;
    height: 100vh;
    /*background-image: url(assets/images/fondo_rosa.jpg);*/
    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    background-color:gold;
}

/*#navegacion{
    display: flex;
    height: 100%x;
    background-image: url(assets/images/image_main.jpg);
}

#navegacion > ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: stretch;

}
#navegacion > ul > li {
    text-align: center;
    list-style: none;
    width: 100%;
    height: 100%;
    align-self: center;
}

#navegacion > ul > li:hover {
    background-color: pink;
    color: blueviolet;
    cursor: pointer;
}*/

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  background: palevioletred;
  text-align: center;
  border: plum 5px solid;
  font-style: italic;
  font-size: large;
}

.grid-container {
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-columns: (repeat(5, 1fr));
  grid-column-gap: 10px;
  grid-gap: 5px;
  background: palevioletred;
  text-align: center;
  border: plum 5px solid;
}
  
  /*@media screen and (min-width: 500px) and (max-width: 720px) {
    .grid-container {
        grid-template-columns: repeat(auto, 5, 1fr);
      /*grid-gap: 2px;*
  }*/


.grid-item1{
    display: grid;
    border-style: double;
    border: plum 5px solid;
}
  
.grid-item2{
  display: grid;
    border-style: double;
    border: plum 5px solid;
}

.grid-item3{
    border-style: double;
    border: plum 5px solid;
}

.grid-item4{
    border-style: double;
    border: plum 5px solid;
}

.grid-item5{
    border-style: double;
    border: plum 5px solid;
}


form {
    background: palevioletred;
    border: plum 5px solid;
}

/*.header {
    text-align: center;
    padding: 32px;
    border:deeppink 5px double;
    color:slategray;
    text-shadow: 1px 1px #fff;
  }

.column {
    display: flex; 
    flex-direction:row;
    column-gap: 23px;
}

.column {
    flex: 15%;
    max-width: 15%;
    padding: 0 5x;
  }

  .column img {
    margin-top: 10px;
    vertical-align: middle;
    border-color: darkviolet;
    border: double;
  }*/

  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid: 100%;
      max-width: 100%;
    }
  }
